.header {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  width: 100%;
  background-image: url("./images/basketball\ header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px white;
  color: black;
  line-height: 10px;
}

.container {
  margin: 20px
}

.statsButtons {
  display: flex;
}

.buttons {
  margin: 2px;
}